streamlit
langchain
langchain-core
langchain-community
openai
tiktoken
faiss-cpu
youtube-transcript-api
langchain-openai
langchain-experimental
yt-dlp
requests
langchain-text-splitters
sentence-transformers
